<a href="https://colab.research.google.com/github/asherfrankluna/PLNG211-QC/blob/main/Control_and_Looping_Statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
Equals:a==b
Not EQ: a!=b
less: a<b
less o/r eq a<=b
greater a>b
greaer o/r eq: a>=b

In [11]:
#if statement
a =100
b=100
if a<b:
  print("a is less than b")

a is less than b

In [10]:
#elif statement

if a<b:
  print("a is less than b")
elif a>b:
  print("a is greater than b")

a is greater than b

In [8]:
if a<b:
  print("a is less than b")
elif a>b:
  print("a is greater than b")
else:
  print("a is equal to b")

a is equal to b

In [12]:
#Short Hand If statement
c=10
d=5
if a>b:print("c is greater than d")

a is greater than b

In [ ]:
#shorthand if else

print('c>d') if c>d else print('d>c')

In [17]:
#And Statement

if 10>5 and 8>4:
  print("both statements are true")
else:
  print("one of the statements is false / both statements are not true")

both statements are true

In [20]:
#Or Statement
if 5>10 or 8>4:
  print("True")
else:
  print("False")

False

In [21]:
#Bitwise Op ^(xor)
e=4#0100 in binary
f=2#0010 in binary
e^f

6

In [28]:
#Nested if
x=49

if x>10:
  print("number is above 10")
  if x>20:
    print("number is above 20")
    if x>30:
      print("number is above 30")
      if x>40:
        print("number is above 40")
        if x>50:
           print("number is above 50")
        else:
              print("less than 50")

number is above 10
number is above 20
number is above 30
number is above 40
less than 50

In [ ]:
#Application 1: Write a program that determines if the input age is qualified to vote or not.
age=input("Enter age: ")
if int(age)>=18:
  print("You are qualified to vote")
else:
  print("You are not yet qualified to vote")

In [ ]:
#Application 2: 
number=input("Enter number: ")
if int(number)>0:
  print("The number is POSITIVE")
elif int(number)<0:
  print("The number is NEGATIVE")
else:
    print("The number is ZERO")

In [54]:
week = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]

for y in week:
  if y == "Thursday":
      break
  print(y)

Sunday
Monday
Tuesday
Wednesday

In [55]:
for x in "week":
  print(x)

w
e
e
k

In [56]:
#range()func
for x in range(6):
  print(x)

0
1
2
3
4
5

In [57]:
for x in range(2,6+1,1):
  print(x)

2
3
4
5
6

In [58]:
adj = ["red","big","tasty"]
fruits = ["apple","banana","berry"]
for x in adj:
  for y in fruits:
    print(x,y)

red apple
red banana
red berry
big apple
big banana
big berry
tasty apple
tasty banana
tasty berry

In [60]:
i=1
while i<6:
  print(i)
  i+=1

1
2
3
4
5

In [61]:
i=1
while i<6:
  print(i)
  if i==3:
    break
  i+=1

1
2
3

In [63]:
#Using while loop and break statements, the output should only 3
i=1
while i<6:
  if i==3:
    print(i)
    break
  i+=1

3