<a href="https://colab.research.google.com/github/asherfrankluna/PLNG211-QC/blob/main/Introduction_to_Python_Programming.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Python Indentation

In [5]:
#This is an example of Python Indentation
if 5>2:
  print("Five is greater than two!")
#This is a comment
  print("Hello,World")  
  myVar="John"
  b="Sally" #This is a type of string

Five is greater than two!
Hello,World

In [10]:
x = 1
a,b=0,-1
a = 9
c = "Sally"
c = "Danny"
print(a)
print(c)
c = "Maria"
print(c)

9
Danny
Danny

In [13]:
d = int(4)
print(b)
e = float(4)
print(e)

-1
4.0

Type () function
x = 5
y = "John"
print(type(x))
print(type(y))

In [15]:
print(type(d))
print(type(e))

<class 'int'>
<class 'float'>

"Double quotes" or 'Single quotes'

In [20]:
f="Maria"
print(f)
g = 'Ana'
print(g)

Maria
Ana

Multiple Variable

In [25]:
x,y,z=4,5,6
print(x)
print(y)
print(z)

4
5
6
lilo
lilo

SINGLE VALUE TO MULTIPLE VARIABLE

In [26]:
x=y=z="lilo"
print(x)
print(y)
print(z)

lilo
lilo
lilo

Output Variables

In [34]:
s="Python is "
t="enjoying"
print("Python programming is " + t)
print(s+t)
print(s+ '' +t)

Python programming is enjoying
Python is enjoying
Python is enjoying

Arithmetic Operations

In [43]:
x= 1
y= 2
sum = x+y
sum
sum
sum
x
print(x+y)
print(x)
print(y)
print(sum)

#modulo
l = 4%2
print("4%2= ",l)

#floor division
k= 3//2
print("3//2= ",k)

3
1
2
3
4%2=  0
3//2=  1

Assignment Operator

In [44]:
x+=1
print(x)

2

Logical Operator

In [45]:
q = 1
r = 4

q>r and r==r

False