<a href="https://colab.research.google.com/github/asherfrankluna/PLNG211-QC/blob/main/LABORATORY_ACTIVITY_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#1
Name = "Luna Asher Frank G."
Student_No = 2194586315
Age = 18
School = "Our Lady Fatima University"
Course = "Bachelor in Science Computer Science"
#2-4
class Student:
  def __init__(self,Name, Student_No, Age,School,Course):
    self.Name = Name
    self.Student_No = Student_No
    self.Age = Age
    self.School = School
    self.Course = Course

  def info(self):
    print(""+self.Name)
    print(self.Student_No)
    print(self.Age)
    print(""+self.School)
    print(""+self.Course)

Myself = Student(Name,Student_No,Age,School,Course)

Myself.info()

Luna Asher Frank G.
2194586315
18
Our Lady Fatima University
Bachelor in Science Computer Science